<h1>All posts</h1>
<% @post.each do |post| %>
<div class="alert">
  <h3><%=post.title%></h3>
  <p><%=post.body%></p>
  <%= link_to "Read further", post_path(post), :class => 'btn btn-info'%>
</div>
<br>
<% end %>
