<h2> Add new post</h2>
<%= form_for :post, url: posts_path do |f| %>
<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger"><%=msg %></div>
  <% end %>
<% end %>
<p>
  Post name<br>
  <%= f.text_field(:title, {:class => 'form-control'}) %>
</p>
<p>
  Post caption<br>
  <%= f.text_area(:body, {:class => 'form-control'}) %>
</p>
<p>
  <%= f.submit({:class => 'btn btn-success'}) %>
</p>
<% end %>
