<!DOCTYPE html>
<html>
  <head>
    <title>simpleRORblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'%>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">simpleRORblog</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <span class="p-2 text-dark"><%= link_to "Main page", home_path %></span>
  </nav>
  <span class="p-2 text-dark"><%= link_to "Add post", new_post_path %></span>
  <span class="p-2 text-dark"><%= link_to "About", about_path %></span>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
